/* Styles for the StadiumInfo component */

.stadium-info {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  font-family: Arial, sans-serif;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.go-back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #0056b3;
}

.stadium-details {
  margin-top: 20px;
}

.stadium-details ul {
  list-style-type: none;
  padding: 0;
}

.stadium-details li {
  margin: 10px 0;
  font-size: 16px;
}

.stadium-details strong {
  color: #333;
}

.edit-button {
  margin-top: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #218838;
}

.stadium-edit-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stadium-edit-form h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.stadium-edit-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.stadium-edit-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.save-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  margin-left: 85px;
}

.save-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  margin-left: 85px;

}

.cancel-button:hover {
  background-color: #c82333;
}
.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-stadium-button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

.add-stadium-button:hover {
  background-color: #218838;
}