/* src/pages/ForgotPassword/ForgotPassword.module.css */

.forgotPasswordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .forgotPasswordBox {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .inputGroup label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .inputGroup input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .submitButton {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

  
  .submitButton:hover {
    background-color: var(--hover-color);
  }

  .required {
    color: red;
  }
  
  .goBackButton {
    margin-top: 15px;
    background-color: #e2e2e294;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  .goBackButton:hover {
    background-color: #cbcaca;
  }
  