/* Matches.module.css */

.matchesPage {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.matchesPage h2 {
  font-size: 24px;
  font-weight: 600;
  color: blue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.seasonSelector,
.roundSelector,
.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.label {
  font-weight: bold;
  color: #333;
}

.selectField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.searchField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.clearButton {
  background: none;
  max-width: 0px;
  border: none;
  color: #ff5a5a;
  font-size: 16px;
  cursor: pointer;
  top: -62px;
  right: -265px;
  position: relative;
}
.clearButton:hover {
  color:red;
  background-color: transparent;
}


.matchesTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.matchesTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

.headerCell {
  text-align: left;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.headerCell:hover {
  background-color: #0056b3;
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
}

.row:hover {
  background-color: #f1f1f1;
}
/* Matches.module.css */

.matchesPage th {
  font-weight: 800;
}

.modalOverlay {
  position: fixed; /* Cố định vị trí trên màn hình */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối với độ trong suốt */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal nằm trên cùng */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Chiều rộng của modal */
  max-width: 600px; /* Chiều rộng tối đa */
  overflow-y: auto; /* Thêm dòng này */
  max-height: 80vh; /* Optional: Giới hạn chiều cao tối đa của modal */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; /* Để định vị nút đóng */
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input[type="text"],
.formGroup input[type="date"],
.formGroup input[type="time"],
.formGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.saveButton,
.cancelButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #5cb85c;
  color: white;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}
.cancelButton:hover {
  background-color: #cd382e;
  color: white;
}
.readOnlyField {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

.readOnlyField::-ms-expand {
  display: none;
}

.readOnlyField::after {
  content: '\25BE'; 
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.activePage {
  background-color: #0056b3;
  color: #fff;
  border: 1px solid #0056b3;
  font-weight: bold;
}

.pageButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pageButton:hover {
  background-color: #007bff;
  color: #fff;
}

.goalsContainer {
  max-height: 200px; /* Điều chỉnh chiều cao tối đa tùy ý */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.goalEntry {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.goalEntry input[type="text"],
.goalEntry select,
.goalEntry button {
  padding: 5px;
}