/* src/pages/LoginPage/Login.module.css */
body {
  margin-top: 0;
}
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.required {
  color: red;
}

.title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 20px;
  width: 100%;
}

.inputGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputGroup input[type="password"],
.inputGroup input[type="text"] {
  display: block;
  margin: 10px 0;
  width: 100%;
  padding-right: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  appearance: none; 
}


.loginButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton:hover {
  background-color: rgb(88, 152, 255);
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.togglePassword {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.passwordIcon {
  position: absolute;
  top: -8px;
  right: 0px;
  width: 17px;
  height: 17px;
  opacity: 25%;
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}

.footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
